<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<string>2016-01-21 17:30:23</string>
		<key>unread</key>
		<true/>
		<key>consent</key>
		<false/>
		<key>array</key>
		<array>
			<dict>
				<key>from</key>
				<string>新木場</string>
				<key>to</key>
				<string>新宿</string>
				<key>reason</key>
				<string>新宿建設</string>
				<key>price</key>
				<integer>310</integer>
			</dict>
			<dict>
				<key>from</key>
				<string>新宿</string>
				<key>to</key>
				<string>新大久保</string>
				<key>reason</key>
				<string>大久保住宅</string>
				<key>price</key>
				<integer>130</integer>
			</dict>
			<dict>
				<key>from</key>
				<string>新大久保</string>
				<key>to</key>
				<string>新木場</string>
				<key>reason</key>
				<string>帰社</string>
				<key>price</key>
				<integer>400</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2016-01-20 17:30:23</string>
		<key>unread</key>
		<true/>
		<key>consent</key>
		<false/>
		<key>array</key>
		<array>
			<dict>
				<key>from</key>
				<string>新木場</string>
				<key>to</key>
				<string>国際展示場</string>
				<key>reason</key>
				<string>ジャパン建材フェア準備</string>
				<key>price</key>
				<integer>270</integer>
			</dict>
			<dict>
				<key>from</key>
				<string>国際展示場</string>
				<key>to</key>
				<string>新木場</string>
				<key>reason</key>
				<string>帰社</string>
				<key>price</key>
				<integer>270</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2016-01-19 17:30:23</string>
		<key>unread</key>
		<true/>
		<key>consent</key>
		<false/>
		<key>array</key>
		<array>
			<dict>
				<key>from</key>
				<string>新木場</string>
				<key>to</key>
				<string>品川</string>
				<key>reason</key>
				<string>ダイキン工業　営業打ち合わせ</string>
				<key>price</key>
				<integer>390</integer>
			</dict>
			<dict>
				<key>from</key>
				<string>品川</string>
				<key>to</key>
				<string>東京</string>
				<key>reason</key>
				<string>吉野石膏　営業打ち合わせ</string>
				<key>price</key>
				<integer>170</integer>
			</dict>
			<dict>
				<key>from</key>
				<string>東京</string>
				<key>to</key>
				<string>新木場</string>
				<key>reason</key>
				<string>帰社</string>
				<key>price</key>
				<integer>170</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2016-01-18 17:30:23</string>
		<key>unread</key>
		<true/>
		<key>consent</key>
		<true/>
		<key>array</key>
		<array>
			<dict>
				<key>from</key>
				<string>新木場</string>
				<key>to</key>
				<string>名古屋</string>
				<key>reason</key>
				<string>アイカ工業　ご挨拶</string>
				<key>price</key>
				<real>11870</real>
			</dict>
			<dict>
				<key>from</key>
				<string>名古屋</string>
				<key>to</key>
				<string>豊田市</string>
				<key>reason</key>
				<string>アイホン名古屋工場　サンプル確認</string>
				<key>price</key>
				<integer>760</integer>
			</dict>
			<dict>
				<key>from</key>
				<string>豊田市</string>
				<key>to</key>
				<string>新木場</string>
				<key>reason</key>
				<string>帰社</string>
				<key>price</key>
				<integer>12020</integer>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2016-01-17 17:30:23</string>
		<key>unread</key>
		<true/>
		<key>consent</key>
		<true/>
		<key>array</key>
		<array>
			<dict>
				<key>from</key>
				<string>新木場</string>
				<key>to</key>
				<string>池袋</string>
				<key>reason</key>
				<string>池袋工務店</string>
				<key>price</key>
				<integer>240</integer>
			</dict>
			<dict>
				<key>from</key>
				<string>池袋</string>
				<key>to</key>
				<string>中野</string>
				<key>reason</key>
				<string>中野ホーム</string>
				<key>price</key>
				<integer>170</integer>
			</dict>
			<dict>
				<key>from</key>
				<string>中野</string>
				<key>to</key>
				<string>新木場</string>
				<key>reason</key>
				<string>帰社</string>
				<key>price</key>
				<integer>460</integer>
			</dict>
		</array>
	</dict>
</array>
</plist>
