<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string></string>
	<key>numberOfUnread</key>
	<integer>0</integer>
	<key>folder</key>
	<array>
		<dict>
			<key>title</key>
			<string>社長</string>
			<key>numberOfUnread</key>
			<integer>0</integer>
			<key>folder</key>
			<array>
				<dict>
					<key>unread</key>
					<true/>
					<key>date</key>
					<string>2016-01-4 12:00:00</string>
					<key>writtenby</key>
					<string>社長</string>
					<key>title</key>
					<string>平成28年新年のご挨拶</string>
					<key>article</key>
					<string></string>
				</dict>
				<dict>
					<key>unread</key>
					<true/>
					<key>date</key>
					<string>2015-01-4 12:00:00</string>
					<key>writtenby</key>
					<string>社長</string>
					<key>title</key>
					<string>平成27年新年のご挨拶</string>
					<key>article</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>社内</string>
			<key>numberOfUnread</key>
			<integer>0</integer>
			<key>folder</key>
			<array>
				<dict>
					<key>unread</key>
					<true/>
					<key>date</key>
					<string>2016-01-4 12:00:00</string>
					<key>writtenby</key>
					<string>社長</string>
					<key>title</key>
					<string>新規事業立ち上げについて</string>
					<key>article</key>
					<string></string>
				</dict>
				<dict>
					<key>unread</key>
					<true/>
					<key>date</key>
					<string>2015-01-4 12:00:00</string>
					<key>writtenby</key>
					<string>社長</string>
					<key>title</key>
					<string>四半期決算についてのご報告</string>
					<key>article</key>
					<string>１．当期の事業の概況

　当事業年度における世界経済は、米国経済が比較的堅調に推移したものの、債務問題による欧州経済低迷の影響が中国など新興国を中心に波及したことで、総じて減速した状態が続きました。わが国経済は、東日本大震災からの復興需要など内需を中心に穏やかな回復基調にあったものの、世界経済の減速などを背景として弱い動きとなりました。その後、平成24年12月から当事業年度の終盤にかけ、新たな金融緩和政策への期待から、先行きに明るい兆しも出てきております。
　情報通信は、ＩＣＴが高度に利活用されるユビキタスネットワーク社会の形成に向け、社会経済活動の効率化・活性化、国民生活の利便性向上等に大きく貢献することが期待されており、官民一体となってその実現に取り組んでいるところです。また、情報通信市場は、ブロードバンド化・グローバル化の進展、スマートフォンやタブレット端末等の普及により、ニーズの高度化・多様化が更に進み、プラットフォーム型サービスやクラウドサービスが拡大するなど、市場の構造変化が進展しており、地域通信市場においては、光アクセスやＣＡＴＶを利用したブロードバンドサービスのキャリア間競争に加え、モバイルの高速化によるサービス間競争が進み、固定と移動、通信と放送、更には、多様な無線端末の活用によるサービスの融合が進展するなど、大きく変化してきております。
　当社は、このような厳しくかつ激変する事業環境のもと、お客様のご期待に沿い、真に世の中のお役に立てる「お客様志向の企業グループ」として、良質かつ安定的なユニバーサルサービスの提供・維持に努めるとともに、ＮＧＮの構築とそのネットワークを活用した新しいサービス・商品提供を通じて、お客様のニーズにあった安心・安全で信頼性の高い魅力的なブロードバンド・ユビキタスサービスの普及・拡大に積極的に努めてまいりました。

〈1〉光・ＩＰ系サービス推進に向けた取り組み

　光・ＩＰ系サービスの推進については、ブロードバンド・ユビキタスネットワーク環境を実現するとともに、お客様にとって“使いやすい”料金メニュー並びに“魅力的な”サービスの提供を通じて、光サービスの利用拡大に取り組みました。なかでも「フレッツ光」は様々な用途に利用の場を広げながら、暮らしやビジネスを支えるサービスとして個人のお客様から企業のお客様まで幅広いお客様からご支持をいただき、発展・成長を遂げてまいりました。
　「フレッツ光」については、更なる光ブロードバンドサービスの普及拡大及び利用促進に向け、「フレッツ 光ネクスト　スーパーハイスピードタイプ 隼」の提供開始をはじめ、集合住宅向けのインターネット接続サービス「フレッツ 光WiFiアクセス」を新たに提供するとともに、「フレッツ 光ライト　マンションタイプ」の月額利用料の値下げなど、サービス拡充に取り組みました。また、継続利用促進を目的とした長期継続利用型割引サービス「光もっと２割（光もっともっと割）」の提供に加え、フレッツ光契約者同士がグループを組んでご利用いただくことで、そのグループを構成する回線の月額利用料を割引する「グループ割」の提供等、料金サービスの充実・強化に取り組みました。さらに、他事業者とのアライアンスについては、オンラインゲームに必要となる快適な通信環境をより多くのお客様に簡単に提供することを目的とし、シリーズ初のオンラインゲームとなる「ドラゴンクエストX　目覚めし五つの種族　オンライン」を提供する株式会社スクウェア・エニックス様、家庭用ゲーム機「Wii」・「Wii U」を提供する任天堂株式会社様とプロモーション及びインターネット接続サポートについて協業しました。
　「ひかり電話」については、映像コミュニケーションサービスの利用促進に向けた、通信料金着信者払いサービス「フリーアクセス ネクスト」の提供をはじめ、着信短縮ダイヤルサービス（＃ダイヤル）への接続を可能とするなど、利便性の向上に取り組むとともに、高品質なテレビ電話の定額サービス「テレビ電話チョイス定額」の提供開始等、サービス拡充に取り組みました。
　また、スマートフォンやタブレット端末等の急速な増加による外出先でのＷｉ－Ｆｉ利用ニーズの高まりに応えるため、エヌ・ティ・ティ・メディアサプライ株式会社が提供する店舗向けＷｉ－Ｆｉサービス「DoSPOT」とローミングを開始するなど、公衆無線ＬＡＮサービス「フレッツ・スポット（Web認証方式）」のアクセスポイント拡大に取り組みました。
　その他、家庭の電力を“見える化”することで家庭における節電をサポートする、クラウド型の電力“見える化”サービス「フレッツ・エコめがね」をはじめ、自宅のテレビを使って高品質なリアルタイム映像を共有することで空間共有コミュニケーションを実現する「光だんらんＴＶ」の提供開始並びに家庭のテレビでインターネットや動画を楽しめるセットトップボックス「光ＢＯＸ＋」（ひかりボックス）のアライアンスによる多様なアプリケーションの提供等、新しいライフスタイルの創造に取り組みました。
　加えて、サポートサービスについては、近年のＡｎｄｒｏｉｄ ＯＳを搭載したスマートフォンやタブレット端末の急速な増加に伴うＡｎｄｒｏｉｄ端末を標的とした新たなセキュリティ脅威へ対応するため、「セキュリティ対策ツール」をＡｎｄｒｏｉｄ端末へ対応させるほか、「リモートサポートサービス」によるＡｎｄｒｏｉｄ搭載スマートフォン及び「光ＢＯＸ＋」へのサポート実施など、リモートサポート対象端末の拡大に取り組みました。

2〉ソリューションビジネスの取り組み

　大規模並びに中小事業所向けの取り組みとしては、公共・民需の各分野に対し、業界の特性や動向を踏まえた業界特化型のソリューションを中心に、クラウドサービスをはじめ、ＩＣＴをより活用して地域のお客様に喜んでいただけるよう、効率的かつ効果的な営業活動を展開しました。
　クラウドサービス拡充の取り組みとしては、各自治体や企業向けに、セキュアなテレワーク環境でＢＣＰ（事業継続計画）をサポートするクラウド型リモートアクセスサービス及びＷｅｂ会議サービスを提供開始し、大学向けに、クラウドサービスで学習支援や教職者と学生間等のインタラクティブなコミュニケーションの活性化を実現するクラウド型教育支援サービスを提供するほか、農業協同組合向けでは、信用事業で扱う重要文書を電子化しクラウド上で保管するサービスを提供開始しました。
　自治体と連携した取り組みとしては、平成24年2月から熊本県・市と連携して実施している「スマートひかりタウン熊本」プロジェクトの一環として、デジタルサイネージ（電子掲示板）を活用した「スマートエアポート」及び市電やバスの運行情報等が確認できる「くまもとスマートステーション」の情報配信をはじめ、「家庭内エネルギー見える化と家電制御」モデル事業の展開など、「スマート光タウン」の実現に向け、更なるプロジェクトの推進に取り組みました。また、香川県小豆郡小豆島町では、小豆島町様が実施する健康づくり事業「オリーブヘルスケアシステム事業」において、クラウド型健康相談サービス「ひかり健康相談」を導入しました。
　その他、事業所向けサービス拡充の取り組みとしては、「オフィスネットおまかせサポートサービス」におけるリモートサポートの対象にＡｎｄｒｏｉｄスマートフォンを追加するほか、同サービスのメニューにおけるお客様用ＩＴサポート画面を改善するなど、更なるサポートサービスの充実に向けて取り組みました。

〈3〉事業運営体制の状況等

　事業運営体制については、通信設備の構築、保守、運用等の設備業務における一層の連携強化を図るため、「設備本部」を新たに設置し、「ネットワーク部」「サービスマネジメント部」「相互接続推進部」をその内部組織としました。また、他社とのアライアンスを推進するため、「アライアンス推進室」を設置したほか、光サービスを活用して、「あらゆるものをつなぎ、人々の暮らしを豊かにするライフスタイルをデザインする」ことをサービス開発の基本的な方向性とする観点から、「サービスクリエーション部」の名称を「ビジネスデザイン部」へ変更しました。
　設備の維持については、ひかり電話大規模故障の風化防止・実践力強化・サービス品質の向上を目的としたブロックフォーラムの開催及び情報伝達・判断演習を実施したほか、南海トラフ巨大地震を想定した演習の実施等災害対策体制の強化に向けて取り組みました。また、設備事故の未然防止については、引込線垂下りによる第三者事故撲滅に向けた「引込線Ｔｅａｍ“ゼロ”」による計画的な設備点検を実施しました。
　その他、黒字経営の維持に向けたコストコントロールの徹底については、ＫＡＩＺＥＮ施策の水平展開による「納期短縮及び改善」、移転頻度の高い物件への光コンセント設置等による「無派遣工事の拡大」及びＢＯ（バックオーダー）ホットラインによる「ＢＯ及び注文取消の削減」等、光サービス工事の更なる効率化に取り組みました。また、113センタにおける土休日等の録音受付の実施による保守業務の効率化を行いました。
</string>
				</dict>
				<dict>
					<key>unread</key>
					<true/>
					<key>date</key>
					<string>2015-01-4 12:00:00</string>
					<key>writtenby</key>
					<string>社長</string>
					<key>title</key>
					<string>平成27年度第4四半期の見通しについて</string>
					<key>article</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>総務部</string>
			<key>numberOfUnread</key>
			<integer>0</integer>
			<key>folder</key>
			<array>
				<dict>
					<key>title</key>
					<string>総務部総務課</string>
					<key>numberOfUnread</key>
					<integer>0</integer>
					<key>folder</key>
					<dict/>
				</dict>
				<dict>
					<key>unread</key>
					<true/>
					<key>date</key>
					<string>2016-01-21 12:00:00</string>
					<key>writtenby</key>
					<string>社長</string>
					<key>title</key>
					<string>総務部よりお知らせ</string>
					<key>article</key>
					<string></string>
				</dict>
				<dict>
					<key>unread</key>
					<true/>
					<key>date</key>
					<string>2015-10-01 12:00:00</string>
					<key>writtenby</key>
					<string>総務課長</string>
					<key>title</key>
					<string>2015年度社内大運動会についてのお知らせ</string>
					<key>article</key>
					<string>大運動会延期のお知らせ

10月2日(日)に予定していた大運動会は雨天のため延期とし、10月8日(火)に開催します。 なお、明日10月3日(月)は、代休となります。
【社員の皆さんへ】食堂に注文したお弁当は、予定通り本日販売されます。
</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>営業部</string>
			<key>numberOfUnread</key>
			<integer>0</integer>
			<key>folder</key>
			<array>
				<dict>
					<key>unread</key>
					<true/>
					<key>date</key>
					<string>2015-10-01 12:00:00</string>
					<key>writtenby</key>
					<string>営業課長</string>
					<key>title</key>
					<string>最近の売れ筋商品</string>
					<key>article</key>
					<string></string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>title</key>
			<string>企画部</string>
			<key>numberOfUnread</key>
			<integer>0</integer>
			<key>folder</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>資材部</string>
			<key>numberOfUnread</key>
			<integer>0</integer>
			<key>folder</key>
			<array/>
		</dict>
		<dict>
			<key>title</key>
			<string>開発部</string>
			<key>numberOfUnread</key>
			<integer>0</integer>
			<key>folder</key>
			<array>
				<dict>
					<key>title</key>
					<string>伸縮自在角材開発</string>
					<key>numberOfUnread</key>
					<integer>0</integer>
					<key>folder</key>
					<array>
						<dict>
							<key>unread</key>
							<string></string>
							<key>date</key>
							<string>2015-10-01 12:00:00</string>
							<key>writtenby</key>
							<string>開発課長</string>
							<key>title</key>
							<string>伸びるけど縮まない素材</string>
							<key>article</key>
							<string>あああ</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>超極太断熱材</string>
					<key>numberOfUnread</key>
					<integer>0</integer>
					<key>folder</key>
					<array>
						<dict>
							<key>unread</key>
							<string></string>
							<key>date</key>
							<string>2015-10-01 12:00:00</string>
							<key>writtenby</key>
							<string>開発課長</string>
							<key>title</key>
							<string>紙の断熱効果について</string>
							<key>article</key>
							<string>厚さ10mmを越えたら断熱効果が期待出来るかも</string>
						</dict>
					</array>
				</dict>
				<dict>
					<key>title</key>
					<string>二重窓構造の防音性</string>
					<key>numberOfUnread</key>
					<integer>0</integer>
					<key>folder</key>
					<array>
						<dict>
							<key>unread</key>
							<string></string>
							<key>date</key>
							<string>2015-10-01 12:00:00</string>
							<key>writtenby</key>
							<string>開発課長</string>
							<key>title</key>
							<string>二重窓構造の防音性</string>
							<key>article</key>
							<string>二重窓構造になっているのですが、いまいち防音効果がない。ガラスを遮音、遮熱ガラスに変えたら、少しは効果あるのでしょうか。

外枠のガラスは今年初めに、防音ではない程度のものに変えたのですが、ほとんど効果はない。

できればフルボリュームでオーディオを楽しみたいのですが、ガラスの交換程度では、無理なのでしょうか。</string>
						</dict>
						<dict>
							<key>unread</key>
							<string></string>
							<key>date</key>
							<string>2015-10-01 12:00:00</string>
							<key>writtenby</key>
							<string>開発課長</string>
							<key>title</key>
							<string>二重窓構造の防音性</string>
							<key>article</key>
							<string>おはようございます。


sunachiさん、おひさしぶりです。

私も最近は大音量再生で音楽を堪能しております。

ある日お隣さん（50m離れていて、その間は田んぼ）から音楽が大音量で聞こえると言われ、恥ずかしい思いをしました。
とはいえ、クレームでは無かったのですが。

防音性はガラスの厚みにもよると思います。

ガラスは響きやすいと思いますので、壁よりは音が漏れやすいかもしれませんが、厚みのあるガラスをさらに追加というのはいかがですか？

防音には詳しくはありませんが、書き込みしてみました。

オーディオはなかなか一筋縄ではいかない趣味ですね。

お互いに楽しみながら、頑張りましょう。</string>
						</dict>
						<dict>
							<key>unread</key>
							<string></string>
							<key>date</key>
							<string>2015-10-01 12:00:00</string>
							<key>writtenby</key>
							<string>開発課長</string>
							<key>title</key>
							<string>二重窓構造の防音性</string>
							<key>article</key>
							<string>窓だけ二重にしても無理です。
オーディオルーム全体を防音・防振対策しないと効果は薄いと思います。</string>
						</dict>
						<dict>
							<key>unread</key>
							<string></string>
							<key>date</key>
							<string>2015-10-01 12:00:00</string>
							<key>writtenby</key>
							<string>開発課長</string>
							<key>title</key>
							<string>二重窓構造の防音性</string>
							<key>article</key>
							<string>おはようございます。
二重窓構造ならそこそこ効果あると思うのですが・・・外の騒音には効果感じていますよね？

フルボリューム・・・フルボリューム・・・フルボリューム・・・う～ん。
一番は地下に防音室・・・つぎに室内に防音室・・・
自作で頑張っている方もおられるようです。
http://bouonsitsu.web.fc2.com/chigai.html

窓に関しては、
http://www.34al.com/soundproof/
みたいなページもあるので検索してください。
防音サッシをつけるのが最強でしょうか？
真空サッシというのもあるし、ガラスの厚みによって透過する周波数が違うと言うこともあるし・・・
なので、私は、外側3ミリのペアサッシなので内側を5ミリのインプラスにしてみました。確かに3ミリよりは効果あります。

でも、いくら、サッシをしたところで壁が遮音効果ないとダメです。
鉄筋コンクリートか、せめて外側がヘーベルとかで隙間のない家なら、内側に防音シートを貼り付ければ、そこそこいけそうですけど・・・
それでも、フルボリュームは無理じゃないでしょうか・・・

といったわけで、結局のところ懐との相談になります・・・</string>
						</dict>
						<dict>
							<key>unread</key>
							<string></string>
							<key>date</key>
							<string>2015-10-01 12:00:00</string>
							<key>writtenby</key>
							<string>開発課長</string>
							<key>title</key>
							<string>二重窓構造の防音性</string>
							<key>article</key>
							<string>レザー好き さん、おはようございます。毎度です。＞湯～迷人さん、＞まきたろうさん、おはようございます。

私の場合も、隣からクレームが来たわけではありません。

隣さんが窓を閉めれば、おそらく、ほぼ聞こえない程度だと思うのですが、夜の１１時くらいまでは聞きたいのです。

フルボリュームといっても、８畳の部屋なので、そんなに大音響ではありません。

今年の春に外側の窓ガラスを入れ替えましたが、厚みが６ミリ以下（窓枠の限界）だったので、あまり効果がなかったのです。

内側の窓も。と考えたのですが、あまり効果がないとなると。

サッシの隙間ですか。窓枠自体を交換するとなると、ちょっと予算が厳しいですね。壁は４０年前のプレハブ鉄筋コンクリート造りなので、まあまあ防音構造かなと。内側の窓が厚み６ミリ以上のガラスが対応していれば、いわゆる防音ガラスが入るのですが。</string>
						</dict>
						<dict>
							<key>unread</key>
							<string></string>
							<key>date</key>
							<string>2015-10-01 12:00:00</string>
							<key>writtenby</key>
							<string>開発課長</string>
							<key>title</key>
							<string>二重窓構造の防音性</string>
							<key>article</key>
							<string>こんばんわ。


sunachiさん
私もリスニングルームが８畳間 ですが、在来木造住宅です。

鉄筋コンクリートの建物にお住みとは羨ましいです。

我が家はオーディオやAVを楽しむ予定で親と共に建てましたが、高価なオーディオ機器を買う予定、防音については考えておりませんでした。
とはいえ田舎ですので、、、22時までなら大音量再生OKかな（単純に親が寝る時間）。

話がそれましたが、窓だけでなく、サッシと窓はセットのような気が致します。


まきたろうさん、はじめまして。

ご紹介の自作防音室拝見しました。

世の中にはスゴい方も居られるのですね。

プロに任せる方が安心ですが、やはり高価！
私も自作してみようかな？と考えてみました。

情報ありがとうございます。
</string>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
