<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>inbox</key>
	<array>
		<dict>
			<key>date</key>
			<string>2016-01-20 12:11:11</string>
			<key>from</key>
			<string>KDDIカスタマーサポートセンター</string>
			<key>to</key>
			<string>Taro Tanaka</string>
			<key>subject</key>
			<string>AUご利用料金のお知らせ</string>
			<key>body</key>
			<string>田中　太郎　様

いつもスカパー！をご利用いただき、誠にありがとうございます。
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
2016年01月のご利用料金をお知らせいたします。


ご請求番号：007010186901
ご利用料金（税込）：￥4,514
口座振替日：毎月26日
※26日が金融機関休業日の場合は、翌営業日が振替日となります。
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━</string>
			<key>unread</key>
			<true/>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-01-19 12:11:11</string>
			<key>from</key>
			<string>Texas Intruments</string>
			<key>to</key>
			<string>Taro Tanaka</string>
			<key>subject</key>
			<string>We&apos;d like your feedback to improve our e-commerce experience</string>
			<key>body</key>
			<string>Dear Tarou
TI is conducting a survey related to your e-commerce experience on TI.com and other semiconductor websites. We would appreciate 10-15 minutes of your time in completing this study. Your continued insights will help TI to better meet your needs.
 
Click here to take survey
 
Thanks again for your participation, your opinion is very important to us.

Texas Instruments</string>
			<key>unread</key>
			<true/>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-01-18 12:11:11</string>
			<key>from</key>
			<string>J建材株式会社</string>
			<key>to</key>
			<string>Taro Tanaka</string>
			<key>subject</key>
			<string>構造材のご案内</string>
			<key>body</key>
			<string>住宅の基礎を支える木材、LVL、集成材から、躯体のプレカットまで扱っています。グループ内にLVL、集成材を生産するメーカーとフルパネルまで対応できる2×4工法供給会社を持ち、販売できる強みがあります。</string>
			<key>unread</key>
			<true/>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-01-17 12:11:11</string>
			<key>from</key>
			<string>Silver Circuits</string>
			<key>to</key>
			<string>Taro Tanaka</string>
			<key>subject</key>
			<string>2016 Chinese New Year Holiday Schedule ** 2 weeks downtime **</string>
			<key>body</key>
			<string>Dear Taro.
Greetings and Happy 2016 to you . We are approaching that time of the year again where we will be closed for 2 week period in conjunction with the Chinese New Year. This is a major celebration here in Malaysia where most businesses closes for extended period.

If you anticipate that you will need any PCBs made and delivered wihin the next 45 days, we hope you can order to stock your inventory as early as possible. Below is the cutoff dates for jobs to be shipped prior to our holidays.

Lastly we would like to thank you for staying loyal to Silver Circuits despite competition from cheaper, but often substandard, alternatives . You can be assured, we are not in this race to the bottom by using substandard materials and processing shortcuts . With Silver Circuits, you can always expect PCB of professional quality from us with 5 star support. </string>
			<key>unread</key>
			<false/>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-01-16 12:11:11</string>
			<key>from</key>
			<string>JK-Mail-News</string>
			<key>to</key>
			<string>Taro Tanaka</string>
			<key>subject</key>
			<string>J建材 月刊メールマガジン12月号 　Vol.60 　2015.12.25</string>
			<key>body</key>
			<string>水周り商品(ユニットバス、システムキッチン、洗面化粧台、トイレ、給湯器)を販売。多種多様な商品をお客様のニーズに合わせて提供しています。また、「スマートハウス」の実現に欠かせない「太陽光発電システム」「HEMS」から「エコキュート」「エネファーム」まで。これからの住まいに求められる性能についても、積極的に提案しています。</string>
			<key>unread</key>
			<false/>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-01-15 12:11:11</string>
			<key>from</key>
			<string>J建材株式会社</string>
			<key>to</key>
			<string>Taro Tanaka</string>
			<key>subject</key>
			<string>Bulls新商品を一挙公開</string>
			<key>body</key>
			<string>「Bulls」はジャパン建材のプライベートブランド。接着剤や養生テープといった基礎資材を含め、機能性を追求した付加価値商品、施工作業性やデザインにもこだわり、現場の声を活かしたオリジナル商品を約400種類ご用意しています。</string>
			<key>unread</key>
			<false/>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-01-14 12:11:11</string>
			<key>from</key>
			<string>三井住友カード</string>
			<key>to</key>
			<string>Taro Tanaka</string>
			<key>subject</key>
			<string>中国出張、旅行のマストアイテム「銀聯カード」新規入会キャンペーン実施中【VpassClub通信増刊号】</string>
			<key>body</key>
			<string>★☆━━━【三井住友カード】━━━━━━━━━━━━━━━━━━━☆★
┏━━━━━┓
┃＼　　　／┃　　　　ＶｐａｓｓＣｌｕｂ通信増刊号
┃　　★　　┃ 
┗━━━━━┛
★☆━━━━━━━━━━━━━━━━━━━━━━ 2015年12月3日 ━☆★


～三井住友ビジネスカードをご愛用の方への特別なご案内～

中国へのご出張、ご旅行に便利な「銀聯カード」
新規ご入会キャンペーン実施中！

中国の大都市から地方都市まで、約1,200万店の銀聯加盟店でご利用いただける、
中国で最もよく使われるカードです。日本国内でもご利用いただけます。

今なら発行手数料（※）無料！ ※通常 税抜2,000円＋税

さらに1～3の条件達成で「ワールドプレゼント200ポイント」をプレゼント！

＜新規ご入会キャンペーン＞
1．2015年12月31日（木）までに以下のURLよりご入会
2．ご入会後3ヵ月以内に1万円（含む消費税等）以上のご利用
3．2016年3月31日（木）までに以下のURLよりエントリー</string>
			<key>unread</key>
			<false/>
		</dict>
		<dict>
			<key>date</key>
			<string>2016-01-14 12:11:11</string>
			<key>from</key>
			<string>Rick Bogart &lt;rick@totalphase.com&gt;</string>
			<key>to</key>
			<string>Taro Tanaka</string>
			<key>subject</key>
			<string>Total Phase - New eSPI Release, Holiday Savings on I2C SPI USB CAN</string>
			<key>body</key>
			<string>Dear Taro,
 
Maximize your budget and speed up your development efforts with our line of USB, I2C, SPI, and CAN host adapters and protocol analyzers.   
 
I want to let you know about two very exciting announcements.
 
First, with the New Year quickly approaching, so are deliverables and project deadlines. Let Total Phase help you wrap things up with our biggest savings of the year – our holiday promotion.
 
Save up to $1000 on Total Phase design/debug tools with the following discounts:

    10% off orders ≥ $600
    $225 off orders  ≥ $1200
    $475 off orders  ≥ $2400
    $1000 off orders  ≥ $5000
    Plus, we are offering a discount on shipping for any order under $600! 

To get your coupon code and additional details, please visit our holiday promotion page.

Second, we have a new product out!
We are continuing to grow the Promira™ Serial Platform application family and just today announced the release of the eSPI Analysis Application as well as eSPI Active Example Files. eSPI is part of a new Intel architecture which replaces the LPC bus on PC motherboards. The eSPI Analysis Application is the first eSPI sniffer in the industry. With this application, you will be able to monitor eSPI communication between multiple eSPI devices:

    Monitor communication between a master and slaves on data lines
    Support for single, dual and quad I/O
    Support for clock speeds up to 66MHz
    Monitor up to 5 channels (peripheral, virtual wire, OOB, Flash, Independent)
    Monitor up to 2 slave select lines
    Monitor 2 alert lines
    Monitor 2 reset lines

In addition to non-intrusively monitoring eSPI, we are also offering active mastering capabilities for eSPI with eSPI Active Example Files. These files (release date November 23, 2015) will be available for all Promira platform devices with SPI Active - Level 1 Application, SPI Active - Level 2 Application, or SPI Active - Level 3 Application enabled. Performance (I/O compatibility and clock speed supported) will be matched to the licensed SPI Active application level. 

Lastly, if you already have a Promira platform please note we will be releasing updates for all Promira-related software and firmware next week. Check out the Software Requirements tab on the Promira platform web page for updates/links.
 
Please let me know if you have any questions about the promotion, the new eSPI application or the latest updates.
I look forward to assisting you during this busy time of the year. 
 
Best regards,

Rick Bogart
Technical Sales
rick@totalphase.com
www.totalphase.com
 
Total Phase, Inc.
2350 Mission College Blvd, Suite 1100
Santa Clara, CA 95054
US
If you no longer wish to receive these emails, simply click on the following link:  Unsubscribe
</string>
			<key>unread</key>
			<false/>
		</dict>
	</array>
	<key>outbox</key>
	<array>
		<dict>
			<key>date</key>
			<string>2016-01-14 12:11:11</string>
			<key>from</key>
			<string>Taro Tanaka</string>
			<key>to</key>
			<string>Japan, Apps</string>
			<key>subject</key>
			<string>Re: 合板問い合わせご回答</string>
			<key>body</key>
			<string>お世話になります。

先日見せて頂いた、合板の資料を頂けますでしょうか。

以上よろしくお願いします
田中　太郎

(13/12/28 14:14), Japan, Apps wrote:
&gt; 平素はお引き立て頂き、まことに有難うございます。
&gt;
&gt; このたび、お問い合わせいただきました件、承知致しました。
&gt; 資料をご送付致します。
&gt; よろしくお願いいたします。
&gt;
&gt; ----------------------------------------------------------</string>
			<key>unread</key>
			<true/>
		</dict>
	</array>
	<key>draft</key>
	<array/>
</dict>
</plist>
