<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>date</key>
		<string>2016-01-18 23:56:43</string>
		<key>unread</key>
		<true/>
		<key>commentOfToday</key>
		<string>留守の足立商店以外は見積要望を頂いており、早急の対応が必要とされる。</string>
		<key>todoTomorrow</key>
		<string>本日見積依頼のあったお客様への早急な見積提出</string>
		<key>commentFromManager</key>
		<string>与信枠に注意ください。与信枠を超えそうな場合は私に早急に相談を。</string>
		<key>array</key>
		<array>
			<dict>
				<key>customer</key>
				<string>柴又工務店</string>
				<key>chargeof</key>
				<string>所長</string>
				<key>comment</key>
				<string>パワーボードのカタログをお見せした。翌日色指定をご返答頂き見積予定。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>葛飾リフォーム</string>
				<key>chargeof</key>
				<string>営業担当</string>
				<key>comment</key>
				<string>グラスウールの見積要望あり。翌日回答。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>足立商店</string>
				<key>chargeof</key>
				<string>店主</string>
				<key>comment</key>
				<string>店主留守のため、前回依頼された建材カタログと名刺を置いた。次回再訪問。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>萩原商店</string>
				<key>chargeof</key>
				<string>店主</string>
				<key>comment</key>
				<string>店主留守のため、前回依頼された建材カタログと名刺を置いた。次回再訪問。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>坂根商店</string>
				<key>chargeof</key>
				<string>店主</string>
				<key>comment</key>
				<string>店主留守のため、前回依頼された建材カタログと名刺を置いた。次回再訪問。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>鬼沢商店</string>
				<key>chargeof</key>
				<string>店主</string>
				<key>comment</key>
				<string>店主留守のため、前回依頼された建材カタログと名刺を置いた。次回再訪問。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>田中商店</string>
				<key>chargeof</key>
				<string>店主</string>
				<key>comment</key>
				<string>店主留守のため、前回依頼された建材カタログと名刺を置いた。次回再訪問。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2016-01-17 20:19:54</string>
		<key>unread</key>
		<true/>
		<key>commentOfToday</key>
		<string>スマートホームの話題が散見し見積依頼が出てきた</string>
		<key>todoTomorrow</key>
		<string>HEMS等の商材を強調して営業拡販かける</string>
		<key>commentFromManager</key>
		<string>営業推進部と相談ください</string>
		<key>array</key>
		<array>
			<dict>
				<key>customer</key>
				<string>グッドホーム</string>
				<key>chargeof</key>
				<string>営業部長</string>
				<key>comment</key>
				<string>HEMSの引き合いあり。次回見積。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>港リフォーム</string>
				<key>chargeof</key>
				<string>所長</string>
				<key>comment</key>
				<string>エコキュートの引き合い有り。次回見積。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2016-01-16 21:21:21</string>
		<key>unread</key>
		<false/>
		<key>commentOfToday</key>
		<string>資料を持ち再訪問するタイムロスがある</string>
		<key>todoTomorrow</key>
		<string>打診があったD&amp;J工法の資料を持参し拡販する</string>
		<key>commentFromManager</key>
		<string>営業推進部と相談ください</string>
		<key>array</key>
		<array>
			<dict>
				<key>customer</key>
				<string>杉並建築事務所</string>
				<key>comment</key>
				<string>D&amp;J工法に興味あり。次回D&amp;J工法の資料を持参する。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>文京リフォーム</string>
				<key>comment</key>
				<string>不在。再訪問予定。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2016-01-15 21:35:56</string>
		<key>unread</key>
		<false/>
		<key>commentOfToday</key>
		<string>見積回答が即日出来ていない。即日出来れば商談成功率が5割アップするだろう</string>
		<key>commentFromManager</key>
		<string>見積を持ち帰りにすることには問題ありません。与信枠を再確認し引き続き健闘してください。</string>
		<key>array</key>
		<array>
			<dict>
				<key>customer</key>
				<string>東京ハウジング</string>
				<key>comment</key>
				<string>定期訪問。壁材の見積依頼あり。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>中野建材</string>
				<key>comment</key>
				<string>ご紹介による。初回営業訪問。什器の見積依頼あり。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2016-01-14 18:32:23</string>
		<key>unread</key>
		<false/>
		<key>commentOfToday</key>
		<string>本日の訪問先はいずれも規模は小さいが与信は確かでありBullsへの興味も深い。</string>
		<key>commentFromManager</key>
		<string>営業推進部がBullsの販促資料を持っているので、さらにプッシュしてください。</string>
		<key>array</key>
		<array>
			<dict>
				<key>customer</key>
				<string>谷中工務店</string>
				<key>comment</key>
				<string>高齢者向けのバリアフリーのラインナップを社長から訊かれBullsのバリアフリーをご紹介。次回見積り。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>立川リフォーム</string>
				<key>comment</key>
				<string>Bullsのバリアフリーカタログの依頼あり</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2016-01-13 17:41:26</string>
		<key>unread</key>
		<false/>
		<key>commentOfToday</key>
		<string>本日の訪問先は不在が多く競合可能性も示唆された。</string>
		<key>commentFromManager</key>
		<string>次回訪問前に一回相談ください。</string>
		<key>array</key>
		<array>
			<dict>
				<key>customer</key>
				<string>足立リフォーム</string>
				<key>comment</key>
				<string>断熱材に関心ありキューワンボードをご紹介した。次回サンプル持参。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>渋谷工務店</string>
				<key>comment</key>
				<string>所長不在。再訪問予定。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>品川建材</string>
				<key>comment</key>
				<string>会話の中で、合板の要望あり。次回詳細ヒアリング。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>恵比寿工務店</string>
				<key>comment</key>
				<string>所長と会えず。競合の可能性あり。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2016-01-12 19:19:19</string>
		<key>unread</key>
		<false/>
		<key>commentOfToday</key>
		<string>本日訪問先は不在のため進捗無し</string>
		<key>commentFromManager</key>
		<string>競合可能性の詳細を確認したく思います。</string>
		<key>array</key>
		<array>
			<dict>
				<key>customer</key>
				<string>台東建材</string>
				<key>comment</key>
				<string>所長と会えず。競合の可能性あり。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>墨田工務店</string>
				<key>comment</key>
				<string>所長不在。再訪問予定。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2016-01-11 15:15:15</string>
		<key>unread</key>
		<false/>
		<key>commentOfToday</key>
		<string></string>
		<key>commentFromManager</key>
		<string></string>
		<key>array</key>
		<array>
			<dict>
				<key>customer</key>
				<string>駒込ホーム</string>
				<key>comment</key>
				<string>所長不在。再訪問予定。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>赤羽住宅</string>
				<key>comment</key>
				<string>所長不在。再訪問予定。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2016-01-10 09:25:36</string>
		<key>unread</key>
		<false/>
		<key>commentOfToday</key>
		<string>バリアフリー商材の引き合いが再びあったことが印象に残る</string>
		<key>todoTomorrow</key>
		<string>既存顧客への反応も再確認する</string>
		<key>commentFromManager</key>
		<string>営業推進部と相談ください</string>
		<key>array</key>
		<array>
			<dict>
				<key>customer</key>
				<string>世田谷住宅</string>
				<key>comment</key>
				<string>久しぶりに訪問したが、相変わらず不在。間隔をあけて再訪問を検討。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>千代田工務店</string>
				<key>comment</key>
				<string>不在。間隔をあけて再訪問を検討。</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>date</key>
		<string>2015-12-03 11:25:34</string>
		<key>unread</key>
		<false/>
		<key>commentOfToday</key>
		<string>バリアフリーの商材強化が必要</string>
		<key>todoTomorrow</key>
		<string>商材カタログを整備してルート再訪問</string>
		<key>commentFromManager</key>
		<string>Bullsを中心に拡販してください</string>
		<key>array</key>
		<array>
			<dict>
				<key>customer</key>
				<string>新日本リフォーム</string>
				<key>chargeof</key>
				<string>営業部長</string>
				<key>comment</key>
				<string>競合A社のバリアフリー商材の営業があった模様。あまり反応が良くなかったためBullsを紹介し良好な反応。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>太田工務店</string>
				<key>chargeof</key>
				<string>所長</string>
				<key>comment</key>
				<string>今月販売しすぎたせいで、与信枠を超える可能性がある。要調整。</string>
			</dict>
			<dict>
				<key>customer</key>
				<string>小石川住宅</string>
				<key>chargeof</key>
				<string>担当課長</string>
				<key>comment</key>
				<string>競合B社の営業が入りこんでから、それ以来調子が悪く、活路を見いだせていない。</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
