<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>first_name</key>
	<string>太郎</string>
	<key>family_name</key>
	<string>山田</string>
	<key>sales_quota</key>
	<dict>
		<key>per_product</key>
		<array>
			<dict>
				<key>rate</key>
				<real>86</real>
				<key>result</key>
				<integer>1033</integer>
				<key>plan</key>
				<integer>1200</integer>
				<key>title</key>
				<string>Bulls</string>
			</dict>
			<dict>
				<key>rate</key>
				<real>88.90000000000001</real>
				<key>result</key>
				<integer>2046</integer>
				<key>plan</key>
				<integer>2300</integer>
				<key>title</key>
				<string>合板</string>
			</dict>
			<dict>
				<key>rate</key>
				<real>0.05</real>
				<key>result</key>
				<integer>10</integer>
				<key>plan</key>
				<integer>200</integer>
				<key>title</key>
				<string>木材</string>
			</dict>
			<dict>
				<key>rate</key>
				<integer>50</integer>
				<key>result</key>
				<integer>1500</integer>
				<key>plan</key>
				<integer>3000</integer>
				<key>title</key>
				<string>プレカット</string>
			</dict>
			<dict>
				<key>rate</key>
				<real>51.4</real>
				<key>result</key>
				<integer>1542</integer>
				<key>plan</key>
				<integer>3000</integer>
				<key>title</key>
				<string>石膏(坪)</string>
			</dict>
		</array>
		<key>for_me</key>
		<dict>
			<key>annual_sales</key>
			<integer>21000</integer>
			<key>annual_gross_profit</key>
			<integer>1302</integer>
			<key>annual_gross_profit_rate</key>
			<real>6.2</real>
			<key>sales_volumes_until_today</key>
			<integer>7739</integer>
			<key>gross_profit_until_today</key>
			<integer>542</integer>
			<key>gross_profit_until_today_rate</key>
			<real>7.01</real>
			<key>comment</key>
			<string>新部署に来て1ヶ月。まずは休眠店掘り起こしのため、細かく訪問重ね、情報収集します。</string>
		</dict>
		<key>for_us</key>
		<dict>
			<key>annual_sales</key>
			<integer>151000</integer>
			<key>annual_gross_profit</key>
			<integer>10244</integer>
			<key>annual_gross_profit_rate</key>
			<real>6.78</real>
			<key>sales_volumes_until_today</key>
			<integer>95422</integer>
			<key>gross_profit_until_today</key>
			<integer>6622</integer>
			<key>gross_profit_until_today_rate</key>
			<real>6.94</real>
			<key>comment</key>
			<string>前月に引き続き合板市況悪いため、粗利率厳しい事が予想される。Bulls商品拡販にて採算ライン確保のこと。</string>
		</dict>
	</dict>
</dict>
</plist>
